body{
    background-color:#9370DB;
}
img{
    width: 15%;
}

figure{
    text-align: center;
}


.container{
    width: 80%;
    margin: auto;

}

h1,h2{

    text-align: center;
font-family: 'Pacifico', cursive;
}

p{

    font-family: 'Handlee', cursive;
    font-size:  1.4em;
    text-align:justify;
}

.video{
    text-align: center;
    width: 50%;
    float: left;

}
footer{
    clear: both;
} 